html {
  font-size: 62.5%;
  color: #b0b0b0;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, Sans-Serif;
  background-color: #2a2035;
}

header {
  border-bottom: 0.2rem solid #202020;
  background-color: #262600;
  color: #dda0dd;
}

header a:link {
    text-decoration: none;
}

nav {
  text-align: right
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: lowercase
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #202020;
  font-size: 1.2rem;
  color: #b0b0b0;
}

h1 {
  font-size: 2.4rem
}

h2 {
  font-size: 2rem
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none
}

a:link {
  color: #dda0dd;
  text-decoration: none;
}

a:visited {
  color: #dda0dd;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

@media (max-width:319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%
  }
  header {
    margin: 4.2rem 0
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem
  }
  .logo a {
    font-size: 2.4rem
  }
  nav a {
    display: block;
    line-height: 1.6;
    text-decoration: none
  }
}

@media (min-width:320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%
  }
  header {
    margin: 4.2rem 0
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem
  }
  .logo a {
    font-size: 2.4rem
  }
  nav a {
    display: inline;
    margin: 0 0.6rem
  }
}

@media (min-width:640px) {
  body {
    width: 90rem;
    margin: 0 auto;
    padding: 0
  }
  header {
    margin: 0 0 3rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  nav {
    margin: 0;
    text-align: right
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;

  }
  footer {
    text-align: right
  }
  .logo {
    margin: 0;
    text-align: left
  }
  .logo a {
    float: left;
    font-size: 1.8rem
  }
}

.sourceCode {
  border-style: solid;
  border-width: 1px;
  border-color: #F7F7F7;
  padding: 5px;
  line-height: 1.4
}

.sourceCode .sourceCode {
  border-style: none;
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px
}
